/* Author: Jay Wazurkar
   License: none (public domain)
*/

/*TODO: use more generic classes like - left, right, content, box, error, */
body {
    font-family: Helvetica;
    font-size: 15px;
}
.page {
    margin: 10em auto;
    max-width: 990px;
    text-align: justify;
    padding: 0;
    line-height: 1.5;
}
h1, h2, h3 {line-height: 1.2;}
h1{
    font-size: 2em;
    margin: 0 0 0.5em 0;
}
h2{font-size: 1.5em;}
header, footer{
    background: url(http://placehold.it/990x100) no-repeat transparent;
    height: 9em;
}
footer{
    clear:both;
}
article{
    /* background: url(http://placehold.it/750x800) no-repeat transparent; */
    max-height: 100em;
     max-width: 40em;
    /*padding: 0 20em 4em 1em;*/
    float:left;
    /*background: #ffa;*/
    padding: 0  4em 0 1em;

}
.articleimage{
    float: left;
    margin: 1em 1em 1em 0;
}
aside{
    float: left;
    width: 20em;
    /*margin: 0 0 4em -18em;*/
    max-height: 100em;
    /*color: teal;*/
    /*background: #D8FF35;*/
    background-color: white;
}
aside p{
    margin: 1em 0 1em 0em
}
.callout{
    background: url(http://placehold.it/330x250) no-repeat transparent scroll;
    height: 17em;
}
aside h2{
    margin: 0 0 0 0;
    background-color: rgba(32, 25, 30, 0.22);
}
aside.callout h2{
    text-transform: uppercase;
}
div.related-links h2{text-transform: uppercase;
}
nav ul{
    text-align: center;
    max-height: 2em;
}
nav ul li{
    display: inline-block;
    /*list-style: none;*/
    padding: 0 2em 0 0;
    margin: 7em 0 0 0;
}
nav ul li a, a:link, a:visited {
    text-decoration: none;
    color: rgba(7, 3, 5, 0.48);
    background: url("https://developer.cdn.mozilla.net/media/img/wiki/menu-arrow.png") no-repeat scroll 92% 0 transparent;
    padding: 0.3em 1em 1em 0;
}
a:hover{
    color: rgba(7, 1, 6, 0.82);
}
